.node {
  cursor: pointer;
}

.overlay {
  background-color: #EEE;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 10px;
  font-family: sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show {
  display: block;
}

.ghostCircle, .activeDrag .ghostCircle {
  display: none;
}

.hidden {
  display: none;
}

.button {
  border: 1px solid black;
  margin-bottom: 1px;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.found {
  fill: #ff4136;
  stroke: #ff4136;
}

.search {
  font: 10px sans-serif;
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
}

ul.select2-results {
  max-height: 400px;
}

.select2-chosen {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.select2-choice {
  height: 100% !important;
}

.select2-container, .select2-drop, .select2-search, .select2-chosen, .select2-search input {
  font: 1em sans-serif;
  text-align: center;
}

#block_container {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 3.12rem;
}